@*the AppointmentService is added in program.cs *@
@inject AppointmentService appointmentService
@inject AuthenticationStateProvider authStateProvider
@inject UserService userService;
@*sets the component as a route, nav is changes to this route => see NavMenu*@
@page "/appointment"
@using System.Globalization

<div class="appointment-flex">
    <div class="calendar">
        <header>
            <span @onclick="DecreaseMonth" class="month-change" title="Change month">&lt;</span>
            <h1 id="year-month">@yearMonth</h1>
            <span @onclick="IncreaseMonth" class="month-change" title="Change month">></span>

        </header>

        <ul class="weekdays">
            <li>
                <abbr title="S">Sunday</abbr>
            </li>
            <li>
                <abbr title="M">Monday</abbr>
            </li>
            <li>
                <abbr title="T">Tuesday</abbr>
            </li>
            <li>
                <abbr title="W">Wednesday</abbr>
            </li>
            <li>
                <abbr title="T">Thursday</abbr>
            </li>
            <li>
                <abbr title="F">Friday</abbr>
            </li>
            <li>
                <abbr title="S">Saturday</abbr>
            </li>
        </ul>

        <ol class="day-grid">
            @* <li class="month=prev">29</li>
            <li class="month=prev">30</li>
            <li class="month=prev">31</li> *@
            @foreach (var item in dayList)
            {
                <li class="date-day" tabIndex="-1" @onclick="() => HandleChosenDate(item)">@item</li>
            }
            @* <li class="month-next">1</li>
            <li class="month-next">2</li> *@
        </ol>

    </div>

    @if (chosenDay != null)
    {
        <div id="day-info">
            <header>

                <h3>There are @appointmentsForDate.Length appointments available for booking for @chosenDay
                    @currentDate.ToString("MMMM", CultureInfo.InvariantCulture)
                </h3>
            </header>
            @if(successMsg != "")
            {
                <p class="alert alert-sucess">@successMsg</p>
            }
            <table>
                <thead>
                    <tr>
                        <th>Doctor Name</th>
                        <th>Contact</th>
                        <th>Appointment date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Appointment item in appointmentsForDate)
                    {
                        <tr>
                            <td>@item.CareGiver.FirstName @item.CareGiver.LastName</td>
                            <td>@item.CareGiver.Email</td>
                            <td>@item.DateTime</td>
                            <td>
                                <button class="btn btn-primary" @onclick="() => HandleBooking(item)">Book</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    @* @userLoggedIn.FirstName *@
</div>

@code {
    private DateTime currentDate = DateTime.Now;
    private string yearMonth = "";
    private List<int> dayList = new();

    //Appointments for the date that the user has selected.
    private Appointment[] appointmentsForDate = { };
    private int? chosenDay = null;
    private Patient? userLoggedIn;
    private string successMsg = "";

    protected override async Task OnInitializedAsync()
    {
        yearMonth = $"{currentDate.ToString("MMMM", CultureInfo.InvariantCulture)} {currentDate.Year.ToString()}";
        dayList = GetDaysOfMonth(currentDate.Year, currentDate.Month).ToList();

        var authState = await authStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        userLoggedIn = userService.GetByEmail(user.FindFirst(c => c.Type ==
        "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress")?.Value) as Patient;

        appointmentService.AddSampleData();
    }
    private void HandleChosenDate(int day)
    {
        var dateToCheck = new DateTime(currentDate.Year, currentDate.Month, day);
        chosenDay = day;
        appointmentsForDate = appointmentService.GetAppointmentsByDate(dateToCheck).ToArray();
    }
    private void HandleBooking(Appointment appointment)
    {
        var success = appointmentService.AddBooking(appointment, userLoggedIn.Id);
        if(success)
            successMsg = "Your appointment was booked successfully!";

    }
    private IEnumerable<int> GetDaysOfMonth(int year, int month)
    {
        int daysInMonth = DateTime.DaysInMonth(year, month);
        return Enumerable.Range(1, daysInMonth);
    }
    private void DecreaseMonth()
    {
        currentDate = currentDate.AddMonths(-1);
        yearMonth = $"{currentDate.ToString("MMMM", CultureInfo.InvariantCulture)} {currentDate.Year.ToString()}";
    }
    private void IncreaseMonth()
    {
        currentDate = currentDate.AddMonths(1);
        yearMonth = $"{currentDate.ToString("MMMM", CultureInfo.InvariantCulture)} {currentDate.Year.ToString()}";
    }
}
