@page "/accountsettings"
@inject HealthCare.Core.UserService.IUserService userService
@inject HealthCare.Core.Data.HealthcareContext dbContext
@inject HealthCare.Core.AppointmentService appointmentService

<AuthorizeView>
    <Authorized>
        <div class="container">
            <div class="row">
                <div class="col-md-6 border p-3">
                    <div class="mb-3">
                        <h3>Account Settings</h3>
                    </div>

                    <div class="mb-3">
                        <label>Email: </label>
                        <p class="border p-2" style="max-width: 300px"> @userAccount.Email</p>
                    </div>
                    <div class="mb-3">
                        <label>First Name: </label>
                        <p class="border p-2" style="max-width: 300px">@userAccount.FirstName</p>
                    </div>
                    <div class="mb-3">
                        <label>Last Name: </label>
                        <p class="border p-2" style="max-width: 300px">@userAccount.LastName</p>
                    </div>
                    <div class="mb-3">
                        <label>Date of birth: </label>
                        <p class="border p-2" style="max-width: 300px">@userAccount.BirthDate</p>
                    </div>
                    @if (userAccount is Patient)
                    {
                        <div class="mb-3">
                            <label>Gender: </label>
                            <p class="border p-2" style="max-width: 300px">@userAccount.Gender</p>
                        </div>
                    }
                    else
                    {
                        <div class="mb-3">
                            <label>Role: </label>
                            <p class="border p-2" style="max-width: 300px">@userAccount.Role</p>
                        </div>
                    }
                    <NavLink class="nav-link" href="/edit">
                        <button class="btn btn-primary">Edit</button>
                    </NavLink>
                </div>

                <div class="col-md-6 border p-3">
                    <div class="mb-3">
                        <h3>Bookings</h3>
                    </div>
                    <div class="mb-3">
                        <label>Upcoming booking: </label>

                        @if (upcomingAppointments.Count() > 0)
                        {
                            <table>
                                <thead>
                                    <tr>
                                        <th>Doctor</th>
                                        <th>Service</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in upcomingAppointments)
                                    {
                                        <tr>
                                            <td>@item.CareGiver.FirstName @item.CareGiver.LastName</td>
                                            <td>@(item.Service != null ? item.Service.Value : "No service booked")</td>
                                            <td>@item.DateTime</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p>No bookings found!</p>
                        }

                    </div>
                    <div class="mb-3">
                        <label>Previous booking: </label>
                        @if (previousAppointments.Count() > 0)
                        {
                            <table>
                                <thead>
                                    <tr>
                                        <th>Doctor</th>
                                        <th>Service</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Appointment item in previousAppointments)
                                    {
                                        <tr>
                                            <td>@item.CareGiver.FirstName @item.CareGiver.LastName</td>
                                            <td>@(item.Service != null ? item.Service.Value : "No service booked")</td>
                                            <td>@item.DateTime</td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p>No bookings found!</p>
                        }

                        @* @foreach (var i in appointments)
                        {
                        if (i.DateTime >= DateTime.Now || i.DateTime == DateTime.Now)
                        {
                        <ul>
                        <div>@i.Service</div>
                        <div>@i.DateTime</div>
                        @foreach (var c in careGivers)
                        {
                        if (i.CareGiverId == c.Id)
                        {
                        <div>@c.FirstName</div>
                        <div>@c.Email</div>
                        }
                        }
                        </ul>
                        }
                        } *@
                    </div>
                    @* <div class="mb-3">
                    <label>Previous booking: </label>
                    @foreach (var i in appointments)
                    {
                    if (i.DateTime <= DateTime.Now)
                    {
                    <ul>
                    <div>@i.Service</div>
                    <div>@i.DateTime</div>
                    @foreach (var c in careGivers)
                    {
                    if (i.CareGiverId == c.Id)
                    {
                    <div>@c.FirstName</div>
                    <div>@c.Email</div>
                    }
                    }
                    @if (i.Feedback != null)
                    {
                    <div>Feedback:</div>
                    <div>@i.Feedback</div>
                    }
                    </ul>
                    }

                    }
                    </div> *@
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="container">
            <div class="row">
                <div class="col-md-6 border p-3">
                    <div class="mb-3">
                        <h3>Account Settings</h3>
                    </div>

                    <div class="mb-3">

                        <p>To see your information you need to <a href="/login">login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>



@code {
    private string? userEmail;
    private User userAccount = new User();

    private List<Appointment> upcomingAppointments = new List<Appointment>();
    private List<Appointment> previousAppointments = new List<Appointment>();

    private List<Appointment> appointments = new List<Appointment>();
    private List<CareGiver> careGivers = new List<CareGiver>();


    protected override async Task OnInitializedAsync()
    {

        userEmail = await userService.GetEmailAsync();
        userAccount = userService.GetByEmail(userEmail);


        if (userAccount is Patient patient)
        {
            upcomingAppointments = dbContext.Appointment
            .Where(a => a.PatientId == patient.Id && a.DateTime > DateTime.Now)
            .ToList();

            previousAppointments = dbContext.Appointment
            .Where(a => a.PatientId == patient.Id && a.DateTime <= DateTime.Now)
            .ToList();
        }
        else if (userAccount is CareGiver careGiver)
        {
            upcomingAppointments = dbContext.Appointment
            .Where(a => a.CareGiverId == careGiver.Id && a.DateTime > DateTime.Now)
            .ToList();

            previousAppointments = dbContext.Appointment
            .Where(a => a.CareGiverId == careGiver.Id && a.DateTime <= DateTime.Now)
            .ToList();
        }
        if (userAccount != null)
        {
            appointments = appointmentService.GetCurUserAppointments(userAccount.Id);
            careGivers = userService.GetCareGivers();
        }

    }
}