@page "/accountsettings"
@inject HealthCare.Core.UserService.IUserService userService

<AuthorizeView>
    <Authorized>
        <header>
            <h1>Account settings</h1>
        </header>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 border p-3 mw-336">
                    <div class="mb-3">
                        <label>Email: </label>
                        <p class="border p-2 mw-300"> @userAccount.Email</p>
                    </div>
                    <div class="mb-3">
                        <label>First Name: </label>
                        <p class="border p-2 mw-300">@userAccount.FirstName</p>
                    </div>
                    <div class="mb-3">
                        <label>Last Name: </label>
                        <p class="border p-2 mw-300">@userAccount.LastName</p>
                    </div>
                    <div class="mb-3">
                        <label>Date of birth: </label>
                        <p class="border p-2 mw-300">@userAccount.BirthDate</p>
                    </div>
                    @if (userAccount is Patient)
                    {
                        <div class="mb-3">
                            <label>Gender: </label>
                            <p class="border p-2 mw-300">@userAccount.Gender</p>
                        </div>
                    }
                    else
                    {
                        <div class="mb-3">
                            <label>Role: </label>
                            <p class="border p-2 mw-300">@userAccount.Role</p>
                        </div>
                    }
                    <NavLink class="nav-link" href="/edit">
                        <button class="btn btn-primary">Edit</button>
                    </NavLink>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="container">
            <div class="row">
                <div class="col-md-6 border p-3">
                    <div class="mb-3">
                        <h3>Account Settings</h3>
                    </div>

                    <div class="mb-3">
                        <p>To see your information you need to <a href="/login">login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>



@code {
    private string? userEmail;
    private User userAccount = new User();
    private List<CareGiver> careGivers = new List<CareGiver>();

    protected override async Task OnInitializedAsync()
    {
        userEmail = await userService.GetEmailAsync();
        userAccount = userService.GetByEmail(userEmail);
    }
}